body {
    background: url("/src/фон\ пивозаврики.png");
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    margin: 0;
}

.windowAuthorization {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.inputLogin {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 350px;
}

.login {
    margin-bottom: 10px;
    width: 340px;
}

.password {
    width: 340px;
}

.login, .password {
    height: 40px;
    background-color: #ffffd6;
    border: 0;
    font-size: 12pt;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    padding-left: 10px;
    outline: 0;
}

.login:hover, .password:hover {
    background: #ffe2e2;
    font-size: 14pt;
}

.passwordWrapper {
    position: relative;
}

.passwordControl {
    position: absolute;
    right: 5px;
	width: 30px;
	height: 30px;
    margin-top: 5px;
    background-color: #ffffb3;
	background: url(/src/viewPassword.png);
}

.passwordControl.view {
	background: url(/src/hiddenPassword.png);
}

.passwordControl:hover {
    transform: scale(1.05);   
}

.sendLogin {
    width: 350px;
    height: 50px;
    background-color: #f7baba;
    border: 0;
    font-size: 16pt;
    font-family: 'Source Code Pro', monospace;
    font-weight: 800;
}

.sendLogin:hover {
    transform: scale(1.05);
}